<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label :member_id %>
    <%= form.text_field :member_id, type: 'text' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit 'Sign In', :class => 'btn btn-default' %>
  <%= link_to 'Register', sign_up_path, :class => 'btn btn-default' %>
  </div>

  <div class="other-links">
  </div>
<% end %>
