
<div class="row">
      <div class="col-lg-4">
        <div class="panel panel-primary">
        <div class="panel-heading"><strong>Profile</strong></div>
          <div class="panel-body" style="color:black;">
            <p><strong>MemberID:</strong><br>
            <%= @user.member_id %></p>

            <p><strong>Name:</strong><br>
            <%= @user.name %></p>

            <p><strong>Chinese Name:</strong><br>
            <%= @user.chinese_name %></p>

            <p><strong>Email:</strong><br>
            <%if @user.email.empty? %>
            <p style="color: red;">Kindly update your email.</p>
            <% else %>
            <%= @user.email %></p>
            <% end %>

            <p><strong>Phone:</strong><br>
            <%= @user.phone %></p>

            <p><strong>Birthday:</strong><br>
            <%= @user.birthday %></p>

            <p><strong>Address:</strong><br>
            <%= @user.full_address %></p>

            <p><strong>Type:</strong>
            <%= @user.user_type %></p>  
            <div class="group" style="display: inline-flex;">
              <%= link_to 'View', user_path(@user), :class => 'btn btn-default' %>
              <% if current_user.is_admin? %>  
              <%= button_to 'Print Member Info', print_member_info_path(@user, :format => 'pdf'), :class => 'btn btn-default'  %>
              <% end %>
              
            </div>
          </div>
    </div>
  </div>
  <div class="col-lg-8">
    <% if @user.member_id == 'Pending'%>
    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="well">
            You are required to visit the library and sign the guest book 4 times, make payment, and get the member card from the librarian.
        </div>
      </div>
    </div>
    <% else %>
    <div class="panel panel-primary">
    <div class="panel-heading"><strong>Loan Details</strong></div>
    <div class="panel-body" id="past">

          <% @loans.each do |loan| %>
           <div><center>
              <% if loan.book.image_url == nil or loan.book.image_url == ''%>
              <%= image_tag('shining-kids.jpg', width: '160')%>
              <% else %>             
              <%= image_tag(loan.book.image_url, width: '160')%>
              <% end %>               
              
              <br><p style="height: 50px"><strong><%= loan.book.name %></strong></p>
            
              <br>Loan: <strong><%= loan.loan_date.strftime('%d-%m-%y') %></strong>
              <br>Return: <strong><%= loan.return_date.strftime('%d-%m-%y') %></strong>
              <% if loan.is_extended == false %>
              <br><%= link_to 'Extend', return_date_extend_path(:id => loan.id), :class => 'btn btn-success' %>
              <% end %>  
              </center>
              </div>
           
          <%end %>
    </div>
      <div class="panel-heading"><strong>Reading History</strong> (<%= @user.loans.all.count%>)</div>
        <div class="panel-body" id="book-items">
        <% @loans_returned.each do |returned| %>
          <a href="<%=book_path(returned.book)%>">
                  <%= returned.book.name%>, <%= returned.book.barcode%>, <%= returned.actual_return_date%>
          </a>
          <% end %>
        </div>
    </div>
  </div>


  <% end %>
</div>