<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">

    <tr>
      <th>MemberID</th>
      <th>Name</th>
      <th>IC</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Birthday</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>



    <% @users.each do |user| %>
      <tr>
      <% if user.member_id == nil %>
      <td></td>
      <%else%>
      <td><%= user.member_id %></td>
      <%end%>
        <td><%= user.name %></td>
        <td><%= user.ic %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.birthday %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

</table>

<br>

<%= link_to 'New User', new_user_path %>
