 <script type="text/javascript">
   var $user_type;

$(document).ready(function() {

$('#agree').click(function(){
$('div#registration-form').show()
$('div#library-rules').hide()
})

  $("select#user_user_type").change(function(){
     $user_type = $(this).val();
     console.log($user_type);
    if ($user_type == 'parents') {
      $('#my-kids').html('My Kad number')
      $('#parents-group').hide();
    };
        if ($user_type == 'children') {
      $('#my-kids').html('My Kid number')
      $('#parents-group').show();
    };

  });


});


 </script>
    <div class="row">
      <div class="col-lg-12" id="library-rules">
        <div class="panel panel-default">
          <div class="panel-body">
            申请会员须知图书馆规则
            <ol>
<li>欲借书者必须先申请成为会员（任何年龄层）。非会员可在馆内阅读但不可外借。</li>
<li>会员条件：沙登卫理公会会友（沙登卫理公会会友之两岁以下孩童免费申请）或莅临图书馆达四次之社区居民。</li>
<li>申请者必须填妥表格，连同终身会员费（RM50）交上。12岁以下申请者必须有家长或监护人同意。重做会员卡须缴交RM10。</li>
<li>申请者必须清楚也同意所有图书馆规则才签名，若孩童太小则需家长或监护人代签。</li>
<li>每张会员卡可借两本书或两片影音系列（CD/VCD/DVD）。</li>
<li>每片影音系列须缴费RM0.50。</li>
<li>归还期限为两个星期。迟还每本书或每片影音系列罚款数额为RM0.50/星期。</li>
<li>借出书籍或影音系列可重借一次。会员也可自行上网重借，也只限重借一次。</li>
<li>若所借的书损坏（掉进水，被画到图画不清，不见页数，重要页数被涂鸦。。。），图书馆有权要借书者以原价赔偿。</li>
<li>图书馆委员会评估其它损坏对书本整体的影响而作出处罚。如罚书本原价的10% 或20% 。</li>
<li>父母可进行亲子阅读，但不可大声玩闹，玩追逐游戏。</li>
<li>不可在图书馆内吃东西或喝饮料。</li>
<li>请保持馆内静态阅读空间的宁静与舒适感。</li>
            </ol>
            <div class="btn btn-primary" id="agree">Agree</div>
          </div>
        </div>
      </div>
      <div class="col-lg-12" style="display: none;" id="registration-form">  
        <div class="panel panel-default">
          <div class="panel-heading"><h1>New User</h1></div>
            <div class="panel-body" style="font-size:14px;">
<!-- form starts here -->

<div class="container-fluid">
<div class="col-lg-12">
<%= form_for(User.new, :html => {:class => 'form-horizontal'})  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :user_type, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-2"> <%= f.select(:user_type, [['Children', 'children'],['Parents', 'parents']])%></div>
<% if !current_user.nil? and current_user.is_admin? %>


    <%= f.label :memberid, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-2"> <%= f.text_field :member_id, :value => 'Pending', :class => "form-control" %></div>

<% end %>
</div>
      <div class="form-group">
    <%= f.label :password, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-2"> <%= f.text_field :password, :value=>'123', :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label :name, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-4"> <%= f.text_field :name, :class => "form-control" %></div>
    <%= f.label :chinese_name, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-2"> <%= f.text_field :chinese_name, :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label :birthday, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8"> <%= f.date_select :birthday, order: [:day, :month, :year], :start_year =>  Date.today.year - 50, :end_year => Date.today.year + 0 %></div>
  </div>
  <div class="form-group">
    <%= f.label :gender, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8"><%= f.select(:gender, [['Male', 'Male'],['Female', 'Female']] )%></div>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-4"> <%= f.text_field :email, :required => 'true', :class => "form-control" %></div>
    <%= f.label :phone, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-2"> <%= f.text_field :phone, :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label ('My Kid number'), :class => "col-lg-2 control-label", :id => 'my-kids', :style => 'text-transform: capitalize;'  %>
    <div class="col-lg-8"> <%= f.text_field :ic, :class => "form-control" %></div>
  </div>


  <div class="form-group">
    <%= f.label 'Address line 1', :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8"> <%= f.text_field :line1, :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label 'Address line 2', :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8"> <%= f.text_field :line2, :class => "form-control" %></div>
  </div>    
  <div class="form-group">
    <%= f.label :postcode, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8"> <%= f.text_field :postcode, :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8"> <%= f.text_field :city, :class => "form-control" %></div>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8"> <%= f.text_field :state, :class => "form-control" %></div>
  </div>

<div id='parents-group'>
  
  <div class="form-group">
    <%= f.label :parent_name, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-3"> <%= f.text_field :parent_name, :class => "form-control" %></div>
    <%= f.label :parent_ic, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-3"> <%= f.text_field :parent_ic, :class => "form-control" %></div>
  </div>

  <div class="form-group">
    <%= f.label :parent_email, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-3"> <%= f.text_field :parent_email, :class => "form-control" %></div>
 
    <%= f.label :parent_phone, :class => "col-lg-2 control-label"  %>
    <div class="col-lg-3"> <%= f.text_field :parent_phone, :class => "form-control" %></div>
  </div>
</div>






  <div class="actions">
  <% if current_user.nil? %>
  <%= link_to ("Sign In"), sign_in_path, :class =>'btn btn-default' %>
  <% end %>
    <%= f.submit 'Submit', :class => "btn btn-default" %>
    <%= link_to 'Back', 'javascript:history.go(-1);', :class => 'btn btn-default' %>
    <%if @user.nil? %>
    <%= link_to 'Destroy',user_path(@user), data: {confirm: 'Are you sure?'} ,:method => :delete, :class => "btn btn-default"%>
    <%end %>
  </div>
<% end %>


</div>
</div>

<!-- form ends here -->


            </div>
        </div>
      </div>
  </div>
