<h1>New User</h1>

<%= render '/users/form', user: @user %>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>

<%= link_to 'Back', users_path %>




<!-- <div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
 -->