<div class="row">
      <div class="col-lg-8">
        <div class="panel panel-default">
        <div class="panel-heading"><strong>Profile</strong></div>
          <div class="panel-body" style="color:black;">
            <p><strong>MemberID:</strong><br>
            <%= @user.member_id %></p>

            <p><strong>Name:</strong><br>
            <%= @user.name %></p>

            <p><strong>Chinese Name:</strong><br>
            <%= @user.chinese_name %></p>

            <p><strong>Email:</strong><br>
            <%if @user.email.empty? %>
            <p style="color: red;">Kindly update your email.</p>
            <% else %>
            <%= @user.email %></p>
            <% end %>
            <p><strong>Phone:</strong><br>
            <%= @user.phone %></p>

            <p><strong>Birthday:</strong><br>
            <%= @user.birthday %></p>

            <p><strong>Address:</strong><br>
            <%= @user.full_address %></p>

            <p><strong>Type:</strong>
            <%= @user.user_type %></p>  
            <div class="group" style="display: inline-flex;">
              <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-default' %>
              <% if !current_user.nil? and current_user.is_admin? %>  
              <%= button_to 'Print Member Info', print_member_info_path(@user, :format => 'pdf'), :class => 'btn btn-default'  %>
              <% end %>
              
          <%= link_to 'Back', root_path, :class => 'btn btn-default' %>
          <%= link_to 'Reset Password', reset_password_path(params[:id]), :class => 'btn btn-warning' %>
            </div>
          </div>
    </div>
  </div>



</div>