<div class="row">
      <div class="col-lg-4">
        <div class="panel panel-primary">
        <div class="panel-heading"><strong>Profile</strong></div>
          <div class="panel-body">
            <strong>MemberID:</strong>
            <%= @user.member_id %><br>

            <strong>Name:</strong>
            <%= @user.name %><br>

            <strong>Chinese Name:</strong>
            <%= @user.chinese_name %><br>

            <strong>Email:</strong>
            <%= @user.email %><br>

            <strong>Birthday:</strong>
            <%= @user.birthday %><br>

            <strong>Address:</strong>
            <%= @user.full_address %><br>

            <strong>Type:</strong>
            <%= @user.user_type %><br>  
          <% if current_user.is_admin? %>  
          <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-default' %>
          <% end %>
          <%= link_to 'Back', 'javascript:history.go(-1);', :class => 'btn btn-default' %>
          </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="panel panel-primary">
    <div class="panel-heading"><strong>Loan Details</strong></div>
    <div class="panel-body" id="past">

          <% @loans.each do |loan| %>
           <div>
              <% if loan.book.image_url == nil or loan.book.image_url == ''%>
              <%= image_tag('shining-kids.jpg', width: '160')%>
              <% else %>             
              <%= image_tag(loan.book.image_url, width: '160')%>
              <% end %>               
              
              <br><strong><%= loan.book.name %></strong>
            
              <br>Loan: <%= loan.loan_date %>
              <br>Return: <%= loan.return_date %>
              <% if loan.is_extended == false %>
              | <%= link_to 'Extend', return_date_extend_path(:id => loan.id), :class => 'btn btn-success' %>
              <% end %>  
       
              </div>
           
          <%end %>
    </div>
      <div class="panel-heading"><strong>Reading History</strong> (<%= @user.loans.all.count%>)</div>
        <div class="panel-body" id="book-items">
        <% @loans_returned.each do |returned| %>
          <a href="<%=book_path(returned.book)%>">
                  <%= returned.book.name%>, <%= returned.book.barcode%>, <%= returned.actual_return_date%>
          </a>
          <% end %>
        </div>
    </div>
      </div>



</div>