saved: <%= @book_saved %><br>
failed: <%= @book_not_save %><br>
<%= link_to "Raw blast output", "/data.csv" %><br>
<table class="table">
	<% @unsaved.each do |line| %>
		
	<tr>
			<td><%=line.name%></td>
			<td><%=line.author_1%></td>
			<td><%=line.author_2%></td>
			<td><%=line.publisher%></td>
			<td><%=line.series%></td>
			<td><%=line.volume%></td>
			<td><%=line.isbn%></td>
			<td><%=line.barcode%></td>
			<td><%=line.price%></td>
	</tr>
	<% end%>

</table>

<table class="table">
	<% @saved.each do |line| %>
		
	<tr>
			<td><%=line.name%></td>
			<td><%=line.author_1%></td>
			<td><%=line.author_2%></td>
			<td><%=line.publisher%></td>
			<td><%=line.series%></td>
			<td><%=line.volume%></td>
			<td><%=line.isbn%></td>
			<td><%=line.barcode%></td>
			<td><%=line.price%></td>
	</tr>
	<% end%>

</table>



<%= link_to "Home", root_path, :class => "btn btn-default"%>