<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag('application') %>
  </head>
  <body onload='number_pages'>
    <div id="content">
	<div>
		<% @a.each do |x| %>
					<% User.find_by(member_id: x).nil? ? b = User.first : b = User.find_by(member_id: x) %>
		

			<div style="
			position: relative;
			border-radius:5px; 
			border-size:0.1px; 
			border-color:grey ; 
			border-style: solid; 
			width: 40%;
			min-height: 350px; 
			float: left; 
			margin: 35px 0px;
			padding: 2%;">

				<%= wicked_pdf_image_tag('shining-kids.jpg', width:'25%')%>

				<div style="
				position: relative;
				float:right;
				margin: 0px 2%; 
				width:60%; ">
				  <center>
				  <div style="font-size:30px;">亮亮儿童图书馆</div>
				  <div style="font-size:20px;">Shining Kids Library</div><br>
				  <div style="font-size:25px; font-weight: bolder;">会员证</div>
				  </center>
				</div>


				<div style="
				position: absolute;
				float:left;
				margin-top:10px;
				width:80%;
				font-size:20px;">
					<div style="width:100px; float: left;">会员编号</div><div>: <%= x%></div>
					<div><div style="width:100px; float: left;">姓名</div>: <%= b.chinese_name %></div>
					<div><div style="width:100px; float: left;">Name</div>: <%= b.name %></div>
					<div><div style="width:100px; float: left;">IC</div>: <%= b.ic %></div>
				</div>


			</div>
	
			<div style="
			border-radius:5px; 
			border-size:0.1px; 
			border-color:grey ; 
			border-style: solid; 
			width: 40%; 
			min-height: 350px;
			float: left; 
			margin: 35px 0px;
			padding: 2%;">
			<div style="
				position: relative;
				float:left;
				font-size: 25px;
				margin: 0px 2%; 
				width:1%; ">
				持 卡 者 须 知
				</div>
			<div style="
				position: relative;
				float:right;
				font-size: 15px;
				margin: 0px 2%; 
				width:90%; ">
					<ul>
						<li>此卡只限于借两本书籍。</li>
						<li>借书期限为两个星期。</li>
						<li>逾期还书罚款为RM0.50 /星期。 </li>
						<li>倘若遗失，可申请补发，手续费为RM10.00。</li>
						<li>捡到此卡者，请归还于：</li>
					</ul>
					<div style="font-size:12px; margin-left:40px">
					20A, JLN PSK8,<br>
					PUSAT PERDAGANGAN SERI KEMBANGAN,<br>
					43300 SERI KEMBANGAN
					</div>
				</div>

<ul>
				<div style="
				position: absolute;
				width:30%;
				margin-top:200px;
				font-size:20px;"><center>
					<% barcode = Barby::Code128B.new(x) %>
					<%= barcode.to_html(:class_name => 'confirmation-barcode').html_safe %>
					<%= x%></center>
				</div>
			</div>
		
		<% end %>
	</div>

    </div>
  </body>
</html>


