<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <style type="text/css">

	table.barby-barcode { border-spacing: 0; }
	tr.barby-row {}
	td.barby-cell { width: 0.5px; height: 20px; }
	td.barby-cell.on { background: #000; }

	</style>
  </head>
  <body onload='number_pages'>
    <div id="header">
    <h1>Shining Kids Library</h1>
    </div>
    <div id="content">
      <p>Barcode labels</p>


	<div class="container-fluid">
		<% @a.each do |x| %>
		<div class="row">
			<div class="col-lg-9">
			<div style="border-color: black; border-style: solid; width: 400px; float: left; margin: 25px; padding: 50px 30px;">
				<%= image_tag('shining-kids.jpg', size:'50')%>亮亮儿童图书管<br>
				<% b = User.find_by(member_id: x) %>
				<%= b.name %><br>
				<%= x %><br>
				<% barcode = Barby::Code128B.new(x) %>
				<%= barcode.to_html(:class_name => 'confirmation-barcode').html_safe %>
				
			</div>
			</div>
		</div>
		<% end %>
	</div>

    </div>
  </body>
</html>


