<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
    <style type="text/css">

	table.barby-barcode { border-spacing: 0; }
	tr.barby-row {}
	td.barby-cell { width: 0.01em; height: 40px; }
	td.barby-cell.on { background: #000; }

	</style>
  </head>
  <body onload='number_pages'>
    <div id="content">
	<div class="container-fluid">
		<% @a.each do |x| %>
		
		<div style="border-radius:5px; border-size:0.1px; border-color: grey; border-style: dotted; width: 460px; float: left; margin: 5px; padding: 15px 15px;">
			<div style="border-radius:5px; border-size:0.1px; border-color:#f4f4f4 ; border-style: solid; width: 400px; float: left; margin: 20px; padding: 10px 7px;">
				<%= wicked_pdf_image_tag('shining-kids.jpg', size:'100')%><div style="float:right;"><h2>亮亮儿童图书馆</h2></div><br>
				<% User.find_by(member_id: x).nil? ? b = User.find_by(member_id: x).nil? : b = User.first %>
				<div style="font-size:25px; margin-top:10px;"><%= b.name %></div>
				<div style="margin-bottom:10px;"><%= x %></div>
				<% barcode = Barby::Code128B.new(x) %>
				<%= barcode.to_html(:class_name => 'confirmation-barcode').html_safe %>
			</div>
		</div>

		
		<% end %>
	</div>

    </div>
  </body>
</html>


