  <tr>
    <td><%= book.name %></td>
    <td>
        <% if book.authors.count == 0 %>
        <% else %>
          <%= book.authors.first.name %>
        <% end %>
    </td>
    <td><%= book.isbn %></td>
    <td><%= book.barcode %></td>
    <%if book.loans.count > 0 %>
    <td> Yes </td>
    <% else %>
     <td> No </td>
    <% end %>

    <td><%= link_to 'Show', book_path(book)  %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>
    <td><%= link_to 'Destroy',book_path(book), data: {confirm: 'Are you sure?'} ,:method => :delete %></td>
  </tr>

