<% if current_user == nil || !current_user.is_admin?%>

   <div class="book_items">
   <%= link_to book.name, book_path(book) %>
        <%if book.loans.count > 0 %>
        <span class="label label-danger" style="float:left; margin-right:5px;">Loaned</span>
        <% else %>
        <span class="label label-primary" style="float:left; margin-right:5px;">Available</span>
        <% end %>
   </div>    



<% elsif current_user.is_admin? %>
  <tr class="list_book">
    <td><%= book.name %></td>
    <td><%= book.barcode %></td>
    <td><%= book.author_1 %>, <%= book.author_2 %></td>
    <%if book.loans.count > 0 %>
      <td> Yes (<%=book.loans.last.user.name%>)</td>
    <% else %>
      <td> No </td>
    <% end %>

    <td style="font-size: 12px;"><%= book.updated_at.in_time_zone("Kuala Lumpur") %></td>

    <td><%= link_to 'Edit', edit_book_path(book, page: params[:page]), :class => "btn btn-default" %></td>

  </tr>

<% end %>