  <tr>
    <td><%= book.name %></td>
    <td><%= book.isbn %></td>
    <td><%= book.barcode %></td>
    <td><%= book.author_1 %></td>
    <td><%= book.author_2 %></td>

    <td><%= book.publisher %></td>
    <td><%= book.series %></td>
    <td><%= book.volume %></td>

    <td><%= book.price %></td>
    <%if book.loans.count > 0 %>
    <td> Yes </td>
    <% else %>
     <td> No </td>
    <% end %>

    <td><%= link_to 'Show', book_path(book)  %></td>
    <td><%= link_to 'Edit', edit_book_path(book) %></td>

  </tr>

