<%= form_for(Book.new, url: quick_create_book_path ) do |f| %>
 

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :barcode %><br />
    <%= f.text_field :barcode %>
  </div>

<% Category.all.each do |x| %>
              <li>
                <%= x.name %> 
              
                  <% if Book.new.categories.all.pluck(:name).include?(x.name) %>
                    <%= check_box("book", "categories", {:multiple =>true, :checked => true }, x.name, nil) %>
                  <% else %>
                    <%= check_box("book", "categories", {:multiple =>true }, x.name, nil) %>
                  <% end %>
              </li>
<% end %> 


<%= f.select :authors, Author.all.collect {|p| [ p.name, p.id ] }%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
