<div class="container-fluid">
<%= form_for(@book, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !current_user.nil? and current_user.is_admin? %>

       <div class="form-group">
          <%= f.label ('Title'), :class => "col-lg-2 control-label" %>
          <div class="col-lg-10">   
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :author_1, :class => "col-lg-2 control-label"  %>
            <div class="col-lg-10">  
              <%= f.text_field :author_1, :class => "form-control"  %>
            </div>
        </div>

        <div class="form-group">
          <%= f.label :author_2, :class => "col-lg-2 control-label"  %>
          <div class="col-lg-10">  
              <%= f.text_field :author_2, :class => "form-control"  %>
          </div>
        </div>  
        
        <div class="form-group">
          <%= f.label :author_3, :class => "col-lg-2 control-label"  %>
              <div class="col-lg-10">  
                <%= f.text_field :author_3, :class => "form-control" %>
          </div>
        </div> 


          <div class="form-group">
          <%= f.label :publisher, :class => "col-lg-2 control-label"  %>
          <div class="col-lg-5">  
            <%= f.text_field :publisher, :class => "form-control"  %>
          </div>
        </div>



        
        <div class="form-group">
          <%= f.label :series, :class => "col-lg-2 control-label"  %>
          <div class="col-lg-6">  
            <%= f.text_field :series, :class => "form-control"  %>
          </div>

          <%= f.label :volume, :class => "col-lg-2 control-label"  %>
          <div class="col-lg-2">  
            <%= f.text_field :volume, :class => "form-control"  %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :isbn, :class => "col-lg-2 control-label"  %>
          <div class="col-lg-4">  
            <%= f.text_field :isbn, :class => "form-control"  %>
          </div>

          <%= f.label :barcode, :class => "col-lg-2 control-label"  %>
          <div class="col-lg-4">  
          <%= f.text_field :barcode, :class => "form-control"  %>
          </div>
        </div>


        <div class="form-group">

          <%= f.label :price, :class => "col-lg-2 control-label"  %>
              <div class="col-lg-3">  
                <%= f.text_field :price, :class => "form-control"  %>
          </div>
        </div>  


        <div class="form-group">
          <%= f.label :image_url, :class => "col-lg-2 control-label"  %>
              <div class="col-lg-10">  
                <%= f.url_field :image_url, :class => "form-control" %>
          </div>
        </div>   


  <% end %>



  <%= f.submit 'Save book', :class => "btn btn-default"%>
  <%= link_to 'Back', books_path, :class => 'btn btn-default' %>  
  <% if !current_user.nil? and current_user.is_admin? and @book.id != nil %>
  <%= link_to 'Destroy',book_path(@book), data: {confirm: 'Are you sure?'} ,:method => :delete, :class => "btn btn-default"%>
  <% end %>
<% end %>


</div>