<div class="container-fluid">
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default">
		  <div class="panel-heading"><h1>List of books</h1></div>
		  	<div class="panel-body">
					<table class="table" style="font-size:18px;">
					  <col width="250">
					  <tr>
					    <th>Name</th>
					    <th>Barcode</th>
					    <th>Author</th>
					    <th>Loaned?</th>
					    <th>Updated</th>
					    <th>Action</th>
					  </tr>
						<%= render @books %>
					</table>
						<%= will_paginate @books %>
		  	</div>
		  </div>	
	</div>

	  <div class="col-lg-4">
			<div class="panel panel-default">
		  <div class="panel-heading"><h1>Editing book</h1></div>
		  	<div class="panel-body">
		  		<%= render 'form' %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
