
<div class="row">
	<div class="col-lg-6">
		<div class="panel panel-default">
		  <div class="panel-heading"><div class="container-fluid"><h1><%= @book.name %></h1></div></div>
		  	
		  		<div class="panel-body">
						<%= render 'form' %>							
					</div>

		  </div>	
	</div>

	  <div class="col-lg-6">
			<div class="panel panel-default">
		  <div class="panel-heading"><h1>Loan Details</h1></div>
		  	<div class="panel-body">
		  		
		  					<% if current_user == nil || !current_user.is_admin? %>
									<% if @book.loans.empty? %>
										<p>This book is <span class="label label-primary">available</span> for loan.</p>
									<% else %>
										<p>This book has been <span class="label label-danger">loaned</span>, the expected return date is <strong><%=@book.loans.last.return_date %></strong></p>
									<% end %>

								<% elsif current_user.is_admin? %>
							    <div class="panel-body" style="margin-top:5px; margin-bottom:5px;">
							    <% if @book.loans.count > 0%>
				  					<% if @book.loans.last.returned? %>
										<%= render 'loans/form_quick' %>
										<% else %>
										<p style="color:black;">This book has been <span class="label label-danger">loaned</span>, the expected return date is <strong><%=@book.loans.last.return_date %></strong></p>
										<% end %>
									<% else %>
									<%= render 'loans/form_quick' %>
									<% end %>
									</div>
								<% end %>		  		
				</div>
			</div>
		</div>
	</div>



