	<div class="row">
		<% if current_user == nil || !current_user.is_admin? %>
			<div class="col-lg-12">
					<div class="panel panel-default">
					<div class="panel-heading" style="font-size:30px;">List of <%= params[:category].nil? ? "all" : Category.find(params[:category]).name %> 
					</div>
					<div class="panel-heading" style="font-size:15px; text-transform: underline;">
												
						<%= link_to 'Picture Books', :action => 'list_by_category', :controller => '/books', :category => '1' %> |
            <%= link_to 'English Books', :action => 'list_by_category', :controller => '/books', :category => '2' %> |
            <%= link_to 'Teaching Books', :action => 'list_by_category', :controller => '/books', :category => '3' %> |
            <%= link_to 'Religion Books', :action => 'list_by_category', :controller => '/books', :category => '4' %> |
            <%= link_to 'Other Books', :action => 'list_by_category', :controller => '/books', :category => '5' %>
				
					</div>

							  <ul style="list-style: none">
							  	<li style="color: white; background-color: rgb(51, 122, 183); padding: 5px; border-radius: 5px; width: 150px; text-align: -moz-center; margin-bottom: 5px;">
							  		A - Available
							  	</li>
							  	<li style="color: white; background-color: rgb(192, 76, 76); padding: 5px; border-radius: 5px; width: 150px; text-align: -moz-center; margin-bottom: 5px;">
							  		L - Loaned
							  	</li>
							  </ul>
		  				<div class="panel-body" id="book-items">
		  					<%= render @books %>
						</div>
							<div class="pagination_light"><%= will_paginate @books%></div>
					</div>
			</div>

		<% elsif current_user.is_admin?  %>
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading"><h1>List of <%= params[:category].nil? ? "all" : Category.find(params[:category]).name %></h1> <%= link_to 'New Book', new_book_path(Book.new), :class => 'btn btn-default' %></div>
		  				<div class="panel-body">
							<table class="table" style="font-size:18px;">
							  <col width="35%">
							  <tr>
							    <th>Name</th>
							    <th>Barcode</th>
							    <th>Author</th>
							    <th>Loaned?</th>
							    <th>Updated</th>
							    <th>Action</th>
							  </tr>
							<%= render @books %>
							</table>
						</div>
							<div class="pagination_light"><%= will_paginate @books %></div>
					</div>
				</div>


		<% end %>


	</div>



