<div class="container-fluid">
	<div class="row">
		<% if current_user.is_admin? %>
				<div class="col-lg-8">
					<div class="panel panel-default">
					  <div class="panel-heading"><h1>List of books</h1></div>
		  				<div class="panel-body">
							<table class="table" style="font-size:18px;">
							  <col width="250">
							  <tr>
							    <th>Name</th>
							    <th>Barcode</th>
							    <th>Author</th>
							    <th>Loaned?</th>
							    <th>Updated</th>
							    <th>Action</th>
							  </tr>
							<%= render @books %>
							</table>
							<%= will_paginate @books %>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="panel panel-default">
					<div class="panel-heading"><h1>New book</h1></div>
		  			<div class="panel-body">
							<%= render partial: 'books/form_q'%> 
						</div>
					</div>
				</div>
		<% else %>
			<div class="col-lg-9">
					<div class="panel panel-default">
					<div class="panel-heading"><h1>List of books</h1></div>
		  				<div class="panel-body">
		  					<%= render @books %>
						</div>
							<div class="container-fluid"><%= will_paginate @books %></div>
					</div>
			</div>
		<% end %>
	</div>
</div>



