
<p id="notice"><%= notice %></p>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
			<div class="panel-heading"><h1>List of books</h1></div>
  			<div class="panel-body">
					<table class="table">
					  <tr>
					    <th>Name</th>
					    <th>Isbn</th>
					    <th>Barcode</th>
					    <th>Author</th>
					    <th>Author2</th>
					    <th>Author3</th>
					    <th>Publisher</th>
					    <th>Series</th>
					    <th>Volume</th>
					    <th>Country</th>
					    <th>Price</th>
					    <th>Loaned?</th>
					    <th></th>
					    <th></th>
					    <th></th>
					  </tr>
					<%= render @books %>
					</table>
				</div>
						<div class="panel-body">
							<%= render 'loans/form_quick' %>
							</div>
			</div>

		</div>

		<div class="col-lg-4">
			<div class="panel panel-default">
			<div class="panel-heading"><h1>New book</h1></div>
  			<div class="panel-body">
					<%= render partial: 'books/form_q'%> 
				</div>
			</div>
		</div>	
	</div>
</div>


<%= link_to 'New Book', new_book_path %>


