<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8">
			<div class="panel panel-default">
			<div class="panel-heading"><div class="container-fluid"><h1><%= @book.name %></h1>by <%= @book.author_1%></div></div>
  				<div class="panel-body">
  				
					<p>
						<b>Publisher:</b>
						<%= @book.publisher%>
						</br>
					  <b>Isbn:</b>
					  <%= @book.isbn %>
					  </br>
					  <b>Barcode:</b>
					  <%= @book.barcode %>
					</p>				
  				
  					<% if current_user.is_admin? %>

				    <div class="panel-body">
  					<% if @book.loans.empty? %>
					<%= render 'loans/form_quick' %>
<%= link_to 'Edit', edit_book_path(@book) , :class => 'btn btn-default' %>
					<% else %>
					<p>This book has been loaned, the expected return date is <strong><%=@book.loans.last.return_date %></strong></p>
					<% end %>
					</div>

					<% else %>
					<% if @book.loans.empty? %>
					<p>This book is available for loan.</p>
					<% else %>
					<p>This book has been loaned, the expected return date is <strong><%=@book.loans.last.return_date %></strong></p>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>	
	</div>
</div>
			
<%= link_to 'Back', books_path, :class => 'btn btn-default' %>
