<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @book.name %>
</p>

<p>
  <b>Category:</b>
  <%= @book.category %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <b>Barcode:</b>
  <%= @book.barcode %>
</p>

<ul>
	<% @book.categories.each do |x|%>
		<li><%= x.name%></li>
	<%end%>
</ul>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path(@book) %>
