      <%= form_for(Loan.new) do |f| %>
        

        <div class="field" id="book_loan">
          <%= f.label :book_id %>
          <% if @book.loans.empty? %>
            <%= f.hidden_field :book_id, :value => Book.find(@book.id).id %>
            <%= Book.find(@book.id).name %>, <%= Book.find(@book.id).barcode %>              
          <% elsif !@book.loans.last.returned? %>
            <p style="color: red;"><%= Book.find(@book).name%> has been loaned.</p>
          <% else %>
            <%= f.hidden_field :book_id, :value => Book.find(@book.id).id %>
            <%= Book.find(@book.id).name %>
          <% end %>
        </div>
        <br>
            <div class="field">
              
              <% if  !User.find_by(member_id: params[:user]).nil? %>
                <h1><%= User.find_by(member_id: params[:user]).chinese_name %> <small><%= User.find_by(member_id: params[:user]).name %></small></h1> <%= User.find_by(member_id: params[:user]).member_id %>
                <%= f.hidden_field :user_id, :value => User.find_by(member_id: params[:user]).id %>
              <% else %>
                <p>No User Found</p>
              <% end %>
            </div>
            <br>
            <br>
        <div class="field">
          <%= f.label :loan_date %>
          <%= f.date_select :loan_date %>
        </div>

        <div class="field">
          <%= f.label :return_date %>
          <%= f.date_select :return_date, selected: 14.days.from_now %>
        </div>


        <div class="actions">
        <% if @book.loans.empty? %>
        <%= f.submit 'Create loan', :class => 'btn btn-default' %>
        <% elsif @book.loans.last.returned? %>
          <%= f.submit 'Create loan', :class => 'btn btn-default' %>
        <% end %>
        </div>
      <% end %>