<%= form_for(Loan.new) do |f| %>
 
  <div class="field">
    <%= f.label :loan_date %>
    <%= f.date_select :loan_date %>
  </div>

  <div class="field">
    <%= f.label :return_date %>
    <%= f.date_select :return_date, selected: 7.days.from_now %>
  </div>

  <div class="field">
    <%= f.label :book_id %>
    <% if @book == nil %>
        <p>No Book Found</p>
    <% else %>

    <%= f.hidden_field :book_id, :value => Book.find(@book).id %>
    <%= Book.find(@book).name %>
    <% end %>
</div>

  <div class="field">
    <%= f.label :user_id %>
    <% if  current_user == nil %>
      <p>No User Found</p>
    <% else %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= current_user.name %>,  <%= current_user.member_id %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit 'Create loan', :class => 'btn btn-default' %>
  </div>
<% end %>
