<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
    <div class="panel-heading" style="font-size:30px;">Loans history</div>
      <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Loan date</th>
            <th>Return date</th>
            <th>Actual return date</th>
            <th>Fined</th>
            <th>Book</th>
            <th>User</th>



          </tr>
        </thead>

        <tbody>
          <% @loans.each do |loan| %>
            <tr>
              <td><%= loan.loan_date.strftime('%d-%m-%y') %></td>
              <td><%= loan.return_date.strftime('%d-%m-%y') %></td>
              <td><%= loan.actual_return_date.strftime('%d-%m-%y') %></td>
              <td>RM <%= ('%.2f' % loan.fine_amount) %></td>
              <td><%= loan.book.name %></td>
              <td><%= loan.user.name %></td>




            </tr>
          <% end %>
        </tbody>
      </table>
<%= link_to 'Back', 'javascript:history.go(-1);', :class => 'btn btn-default' %>
      <br>

      </div>
    </div>
  </div> 
  <div class="col-lg-3">
<b>Read count</b>
<% Loan.group(:user_id).count.sort_by{|x,y| y}.reverse.each do |x,y| %>
<div><%= link_to User.find(x).chinese_name, user_path(User.find(x))%>, <%= y%></div>
<% end %>   
  </div>
</div>