<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
    <div class="panel-heading" style="font-size:30px;">Loans</div>
      <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Loan date</th>
            <th>Return date</th>
            <th>Book</th>
            <th>User</th>
            <th colspan="2"></th>
            <th>Estimate fine</th>

          </tr>
        </thead>

        <tbody>
          <% @loans.each do |loan| %>
            <tr>
              <td><%= loan.loan_date %></td>
              <td><%= loan.return_date %></td>
              <td><%= loan.book.name %></td>
              <td><%= link_to loan.user.name, user_path(loan.user)%></td> 
              <% if current_user.is_admin? %>
              <td><%= link_to 'Edit', edit_loan_path(loan), :class => 'btn btn-info' %></td>
              <td>
              <% if loan.has_returned == false%>
              <%= link_to 'Return', book_return_path(:id => loan.id), :class => 'btn btn-success' %>
              <% end %>
              </td>
              <td>RM <%= ('%.2f' % loan.estimate_fine) %></td>

              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>


      <br>
<%= link_to 'History', loan_history_path, :class => 'btn btn-default'%>
      </div>
    </div>
  </div>  
  <div class="col-lg-3">
<b>Read count</b>
<% Loan.group(:user_id).count.sort_by{|x,y| y}.reverse.each do |x,y| %>
<div><%= link_to User.find(x).chinese_name, user_path(User.find(x))%>, <%= y%></div>
<% end %>  
  </div>
</div>