<div class="col-lg-5">
	<div class="panel panel-default">
		<div class="panel-heading" style="font-size:30px;">Loans</div>
		<div class="panel-body">
			  <%= render 'search_book'%>
			  <div id="loan_form">
		      <%= form_for(Loan.new) do |f| %>
		        

		        <div class="field" id="book_loan">
		          <%= f.label :book_id %>
		          <% if @book == nil %>
		              <p>No Book Found</p>
		          <% else %>

		          <%= f.hidden_field :book_id, :value => Book.find(@book).id %>
		          <%= Book.find(@book).name %>
		          <% end %>
		        </div>
		        <br>
		        <div class="field">
		          
		          <% if  !User.find_by(member_id: params[:user]).nil? %>
		            <h1><%= User.find_by(member_id: params[:user]).chinese_name %> <small><%= User.find_by(member_id: params[:user]).name %></small></h1> <%= User.find_by(member_id: params[:user]).member_id %>
		            <%= f.hidden_field :user_id, :value => User.find_by(member_id: params[:user]).id %>
		          <% else %>
		            <p>No User Found</p>
		          <% end %>
		        </div>
		        <br>
		        <br>
		        <div class="field">
		          <%= f.label :loan_date %>
		          <%= f.date_select :loan_date %>
		        </div>

		        <div class="field">
		          <%= f.label :return_date %>
		          <%= f.date_select :return_date, selected: 14.days.from_now %>
		        </div>


		        <div class="actions">
		          <%= f.submit 'Create loan', :class => 'btn btn-default' %>
		        </div>
		      <% end %>
			  </div>

		</div>
		
	</div>


	<%= link_to 'Back', loans_path %>
	
</div>
<div class="col-lg-7">

    <div class="panel panel-default">
    <div class="panel-heading" style="font-size:30px;">Returns</div>
      <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
          <col width="10%" />
          <col width="10%" />
          <col width="20%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="10%" />
          <col width="5%" />
            <th>Loan date</th>
            <th>Return date</th>
            <th>Book</th>
            <th>Barcode</th>
            <th>User</th>
            <th colspan="2"></th>
            <th>Estimate fine</th>

          </tr>
        </thead>

        <tbody>
        <% if !@loans.nil? %>
          <% @loans.each do |loan| %>
            <tr>
              <td><%= loan.loan_date.strftime('%d-%m-%y') %></td>
              <td><%= loan.return_date.strftime('%d-%m-%y') %></td>
              <td><%= loan.book.name %></td>
              <td><%= loan.book.barcode %></td>
              <td><%= link_to loan.user.name, user_path(loan.user)%></td> 
              <% if current_user.is_admin? %>
              <td><%= link_to 'Edit', edit_loan_path(loan), :class => 'btn btn-default' %></td>
              <td>
              <% if loan.has_returned == false%>
              <%= link_to 'Return', book_return_path(:id => loan.id), :class => 'btn btn-success' %>
              <% end %>
              </td>
              <td>RM <%= ('%.2f' % loan.estimate_fine) %></td>

              <% end %>
            </tr>
          <% end %>
        <% end %>  
        </tbody>
      </table>

      </div>
    </div>

</div>