	<div class="row">
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-body">
				
				  <strong>Loan date:</strong>
				  <%= @loan.loan_date %><br>
				

				
				  <strong>Return date:</strong>
				  <%= @loan.return_date %><br>
				

				
				  <strong>Book:</strong>
				  <%= @loan.book_id %><br>
				
				  <strong>User:</strong>
				  <%= @loan.user_id %><br>
				

				<%= link_to 'Edit', edit_loan_path(@loan) %> |
				<%= link_to 'Back', loans_path %>
				</div>
		</div>	
	</div>
</div>