<!DOCTYPE html>
<html>
  <head>
    <title>KidsLibrary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="<%= root_path%>">亮亮儿童图书馆 Shining Kid's Library</a>
    </div>
      <ul class="nav navbar-nav navbar-left">
      
       <li> <%= link_to "home", root_url %></li>
       <li> <%= link_to "users", users_url %></li>
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books 
          <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><%= link_to 'Picture Books', :action => 'list_by_category', :controller => '/books', :category => '1' %></li>
            <li><%= link_to 'English Books', :action => 'list_by_category', :controller => '/books', :category => '2' %></li>
            <li><%= link_to 'Teaching Books', :action => 'list_by_category', :controller => '/books', :category => '3' %></li>
            <li><%= link_to 'Religion Books', :action => 'list_by_category', :controller => '/books', :category => '4' %></li>
            <li><%= link_to 'Other Books', :action => 'list_by_category', :controller => '/books', :category => '5' %></li>
            </ul>
       </li>
       <li> <%= link_to "loans", loans_url %></li>
       <% if !current_user.nil? and current_user.is_admin? %>  
       <li> <%= link_to "help", '/staticpages/help' %></li>
         <li>
          <%= form_for Book.new, :url => url_for(:controller => '/books', :action => 'quick_loan'), :method => 'get', html: { class: "navbar-form navbar-left"} do |f| %>
            <%= text_field_tag :user, params[:user], placeholder: "Member ID", :onkeyup => 'countMemberId(this)' %>
            <%= text_field_tag :term, params[:term], placeholder:"ISBN quick find", :onkeyup => 'countChar(this)', id: 'isbn' %>
            <%= f.submit 'Quick loan', class: 'btn btn-warning', id: 'submit' %>
          <% end %>         
         </li>
        <% end %> 
        <li><%= form_for Book.new, :url => url_for(:controller => '/books', :action => 'search'), :method => 'get', html: { class: "navbar-form navbar-left"} do |f| %>
          <%= text_field_tag :book_name, params[:book_name], placeholder:"Book name" %>
          <%= text_field_tag :author, params[:author], placeholder:"Author name" %>        
          <%= f.submit 'search', class: 'btn btn-primary', id: 'submit' %>
        <% end %></li>
        <li><% if signed_in? %>
          <%= current_user.email %>
          <%= button_to "Sign out", sign_out_path, method: :delete %>
          <% else %>
          <%= link_to "Sign in", sign_in_path %>
        <% end %></li>
      </ul>
  </div>
</nav>
  <body>
    <%= image_tag('background.jpg', :class => "background")%>
    <div class="container">
    <center>
      
      <div id="flash">
        <% flash.each do |key, value| %>
            <% if key = notice %>
              <div class="alert alert-success" role="alert"><div class="flash <%= key %>"><%= value %></div></div>
            <% elsif key = alert %>
              <div class="alert alert-danger" role="alert"><div class="flash <%= key %>"><%= value %></div></div>
            <%end %>
        <% end %>
      </div>
    </center>
    </div>
    <div class="container-fluid" style="min-height: 650px;">
    <%= yield %>
    </div>
    <footer class="footer">
      <div class="container-fluid" style="padding:20px; color:grey;">
        <div class="row">
          <div class="col-lg-4">
            <h2>图书馆开放时间：</h2>
              <div>星期六 早上10点至下午1点 & 下午2点至下午5点</div>
              <div>星期日 早上10点至早上10点半 & 下午12点至下午1点</div>
              <div>公共假期休息</div>
          </div>
          <div class="col-lg-4">
            <h2>亮亮亲子共读会：</h2>
            <div>每个月第三个星期六</div>
            <div>早上10点半至中午12点半</div>
          </div>
          <div class="col-lg-4">
          <h2>地址：</h2>
            <div>20A, JLN PSK8, </div>
            <div>PUSAT PERDAGANGAN SERI KEMBANGAN, </div>
            <div>43300 S.K. </div>
            <div>联络人：翠美 017-622 1415</div>
          </div>
        </div>
      </div>


     </footer>
  </body>
</html>
