<!DOCTYPE html>
<html>
  <head>
    <title>KidsLibrary</title>
    <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path%>">亮亮儿童图书馆 Shining Kid's Library</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <% if !current_user.nil? and current_user.is_admin? %>
          <li> <%= link_to "Members", users_url, :class => "btn btn-default" %></li>
          <li> <%= link_to "Loans", loans_url, :class => "btn btn-default" %></li>  
          <li> <%= link_to "行政功能", '/staticpages/help', :class => "btn btn-default" %></li>
          <li>
          <%= form_for Book.new, :url => url_for(:controller => '/books', :action => 'quick_loan'), :method => 'get', html: { class: "navbar-form navbar-left"} do |f| %>
          <%= text_field_tag :user, params[:user], placeholder: "Member ID", :onkeyup => 'countMemberId(this)' %>
          <%= text_field_tag :term, params[:term], placeholder:"ISBN quick find", :onkeyup => 'countChar(this)', id: 'isbn' %>
          <%= f.submit 'Quick loan', class: 'btn btn-warning', id: 'submit' %>
          <% end %>         
          </li>
        <% end %> 
        
      </ul>
      
      <ul class="nav navbar-nav navbar-left">

       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Books 
          <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><%= link_to '绘本 Picture Books', :action => 'list_by_category', :controller => '/books', :category => '1' %></li>
            <li><%= link_to '英文书 English Books', :action => 'list_by_category', :controller => '/books', :category => '2' %></li>
            <li><%= link_to '教导书籍 Teaching Books', :action => 'list_by_category', :controller => '/books', :category => '3' %></li>
            <li><%= link_to '信仰书籍 Religion Books', :action => 'list_by_category', :controller => '/books', :category => '4' %></li>
            <li><%= link_to '其他 Other Books', :action => 'list_by_category', :controller => '/books', :category => '5' %></li>
            </ul>
       </li>
       <li>
          <%= form_for Book.new, :url => url_for(:controller => '/books', :action => 'search'), :method => 'get', html: { class: "navbar-form navbar-left"} do |f| %>
          <%= text_field_tag :book_name, params[:book_name], placeholder:"Book name" %>
          <%= text_field_tag :author, params[:author], placeholder:"Author name" %>        
          <%= text_field_tag :barcode, params[:barcode], placeholder:"Barcode" %> 
            <%= button_tag(type: "submit", class: "btn btn-primary", id: 'submit') do %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
            <% end %>
          <% end %>
       </li>
       <% if signed_in? %>
          <li>
          <a href="<%= user_path(current_user)%>"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= current_user.chinese_name %></a></li>
          <li><%= link_to "Sign out", sign_out_path, method: :delete, :class => 'btn btn-default' %></li>
          <% else %>
          <li><%= link_to "Sign in", sign_in_path, :class => 'btn btn-default'%></li>
       <% end %>
      </ul>

      </div>
  </div>
</nav>
  <body>
    <%= image_tag('background.jpg', :class => "background")%>
    <div class="container">
    <center>
      <script type="text/javascript">
        $("#flash").delay(2000).fadeOut('slow');
      </script>
      <div id="flash" style="width: 70%; margin-right: auto; margin-left: auto;">
        <% flash.each do |key, value| %>
            <% if key = notice %>
              <div class="alert alert-success" role="alert"><div class="flash <%= key %>"><%= value %></div></div>
            <% elsif key = alert %>
              <div class="alert alert-danger" role="alert"><div class="flash <%= key %>"><%= value %></div></div>
            <%end %>
        <% end %>
      </div>
    </center>
    </div>
    <div class="container-fluid" id="homepage" >
    <%= yield %>
    </div>
    <footer class="footer">
      <div class="container-fluid" style="padding:20px; color:black;">
        <div class="row">
          <div class="col-lg-4">
            <h2>图书馆开放时间：</h2>
              <div>星期六: 10am - 1pm & 2pm -5pm</div>
              <div>星期日: 10am - 10.30am & 12pm - 1pm</div>
              <div>公共假期休息</div>
          </div>
          <div class="col-lg-4">
            <h2>亮亮亲子共读会：</h2>
            <div>每个月第三个星期六</div>
            <div>早上10点半至中午12点半</div>
          </div>
          <div class="col-lg-4">
          <h2>地址：</h2>
            <div>20A, JLN PSK8, </div>
            <div>PUSAT PERDAGANGAN SERI KEMBANGAN, </div>
            <div>43300 S.K. </div>
          </div>
        </div>
      </div>


     </footer>
  </body>
</html>
