<!DOCTYPE html>
<html>
  <head>
    <title>KidsLibrary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav>
  <%= link_to "home", root_url %>
      <%= link_to "users", users_url %>
    <%= link_to "books", books_url %>
    <%= link_to "authors", authors_url %>
        <%= link_to "loans", loans_url %>
	<%= link_to "help", '/staticpages/help' %>

</nav>
  <body>
    <div class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
            <% if key = notice %>
              <div class="alert alert-success" role="alert"><div class="flash <%= key %>"><%= value %></div></div>
            <% elsif key = alert %>
              <div class="alert alert-danger" role="alert"><div class="flash <%= key %>"><%= value %></div></div>
            <%end %>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <footer>
      <div>
        <%= form_for Book.new, method: :get, url: search_path, class: "navbar-form navbar-left" do |f| %>
        <%= text_field_tag :user, params[:user], placeholder: "Member ID", :onkeyup => 'countMemberId(this)' %>
        <%= text_field_tag :term, params[:term], placeholder:"ISBN quick find", :onkeyup => 'countChar(this)', id: 'isbn' %>
        <%= f.submit 'search', class: 'btn btn-primary', id: 'submit' %>
        <% end %>
      </div>


    </footer>
  </body>
</html>
