<!DOCTYPE html>
<html>
  <head>
    <title>KidsLibrary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav>
  <%= link_to "home", root_url %>
    <%= link_to "books", books_url %>
    <%= link_to "authors", authors_url %>
        <%= link_to "loans", loans_url %>
	<%= link_to "help", '/staticpages/help' %>
  <% if signed_in? -%>
   Signed in as: <%= current_user.email%>
  <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path %>
<% end -%>
</nav>
  <body>
    <%= yield %>
  </body>
</html>
